 /* iphone 6, 7, 8 */
@media (min-width:320px)  { 
  
  html {
    background-color: #0490D0;
  }

  body{
    width: 100%;
    margin: 0;
    background-image: url("../images/the-city.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: 97.5%;
    background-position-x: 50%;
  }
  
  h1{
    margin: 0;
    font-weight: 500;
  }

  header {
    background-color: #aac317;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    max-height: 100px;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
  }

  .row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .strip {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 35%;
  }

  footer{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    background-color: #aac317;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
    height: 25px;
  }

  .corp-background {
    background-position-y: 98.9%;
    background-position-x: 50%;
  }

  .private-background {
    background-position-y: 97.6%;
    background-position-x: 50%;
  }

  .school-background {
    background-position-y: 98.3%;
    background-position-x: 50%;
  }

  .wedding-background {
    background-position-y: 99.26%;
    background-position-x: 50%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 15px 10px 0px 10px;
    border: 1px solid #aac317;
    width: 100px;
    background-color: #aac317;
    border-radius: 5px;
  }

}


/*tablets */
@media (min-width:760px)  {

  body{
    background-size: 500px;
    background-position-y: 98.6%;
  }

  footer{
    font-size: 15px;
    height: 35px;
  }

  .corp-background {
    background-position-y: 99.4%;
  }

  .private-background {
    background-position-y: 98.7%;
  }

  .school-background {
    background-position-y: 99%;
  }

  .wedding-background {
    background-position-y: 99.6%;
  }

  .page {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin: 20px 13px 50px 13px;
    width: 125px;
  }
}


/* computer */
@media (min-width:1025px) {

  body{
    background-size: 800px;
    background-position-y: 93%;
  }

  header {
    background-color: #aac317;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
  }

  .logo {
    max-height: 160px;
  }

  .row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12 {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .strip {
    max-height: 900px;
    max-width: 175px;
  }

  footer{
    font-size: 20px;
    background-color: #aac317;
    margin-top: 180px;
    padding-top: 40px;
    height: 100px;
  }

  .corp-background {
    background-position-y: 96.6%;
  }

  .private-background {
    background-position-y: 93%;
  }

  .school-background {
    background-position-y: 95.5%;
  }

  .wedding-background {
    background-position-y: 97.7%;
  }

  .page {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin: 30px 50px 30px 50px;
    border: 1px solid #aac317;
    width: 125px;
    background-color: #aac317;
    border-radius: 5px;
  }
}